.card {
  display: flex;
  justify-content: center;
  align-items: center;
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  }
  img {
    width: 100%;
  }
}

.b1 {
  border: 1px solid #000;
  border-radius: 2px;
}

.container {
  margin: 1rem 0;
}
