.card {
  display: flex;
  justify-content: center;
  align-items: center;
  .card-body {
    height: 8rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
    height: 8rem;
  }
}

.b1 {
  border: 1px solid #000;
  border-radius: 2px;
}

.container {
  margin: 0.5rem 0;
}
