<div class="container">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://cdn.pixabay.com/photo/2020/12/19/03/27/person-5843476_960_720.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.pixabay.com/photo/2020/12/29/10/07/coast-5870088_960_720.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://cdn.pixabay.com/photo/2020/12/31/05/02/sparrow-5875379_960_720.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
